/* עיצוב כללי לדף הבית */
body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(134, 219, 253, 0.306);
    color: #0e0404;
    margin: 0;
    padding:15;
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    margin-top: 110px;
    animation: fadeInDown 2s ease-in-out;
  }
  
  p {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  
  button {
    background-color: #fff;
    color: #e8fd94;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    animation: pulse 1.5s infinite;
  }
  
  button:hover {
    background-color: #ff7e5f;
    color: white;
  }
  
  /* אנימציות */
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .image-banner img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    object-fit: cover;
  }
  .welcome-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.welcome-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
    line-height: 1.4;
}

.welcome-section p {
    font-size: 1.3rem;
    line-height: 1.8;
    margin-bottom: 30px;
    padding: 0 15%;
    color: #444;
}

/* For better responsiveness */
@media (max-width: 768px) {
    .welcome-section p {
        padding: 0 5%;
    }
}
